<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >

    <head>
        <meta charset="UTF-8">
        <title>Users page.</title>

        <link th:href="@{/css/common.css}" rel="stylesheet" />
        <link th:href="@{/css/allUsersPage.css}" rel="stylesheet" />

        <script>
            function editUserClick( userId ){
                window.open("/editUser?id="+userId);
            }
        </script>

    </head>

    <body>

        <h1>Users page.</h1>

        <div class="window allUsers-win">
            <div class="win-caption">
                <div>All users:</div>
            </div>

            <div class="win-body">

                <div class="table-head allUsers-row">
                    <div class="table-head-cell allUsers-column-id">id</div>
                    <div class="table-head-cell allUsers-column-name">name</div>
                    <div class="table-head-cell allUsers-column-login">login</div>
                    <div class="table-head-cell allUsers-column-roles">roles</div>
                    <div class="table-head-cell allUsers-column-btn"></div>
                </div>
                

                <div class="table-row allUsers-row" th:each="user : ${users}">
                    <div class="table-cell allUsers-column-id" th:text="${user.id}">id</div>
                    <div class="table-cell allUsers-column-name" th:text="${user.name}">name</div>
                    <div class="table-cell allUsers-column-login" th:text="${user.login}">login</div>
                    <div class="table-cell allUsers-column-roles">
                        <div th:each="role : ${user.roles}" th:text="${role.name}">role name</div>
                    </div>
                    <div  class="table-cell allUsers-column-btn">
                        <a th:href="@{'/editUser?id=' + ${user.id}}">edit</a>;
                    </div>

                </div>

            </div>

        </div>

    </body>

</html>
