<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >

    <head>
        <meta charset="UTF-8">
        <title>Users page.</title>
        
        <script>
            function editUserClick( userId ){
                window.open("/editUser?id="+userId);
            }
        </script>
        
    </head>

    <body>

        <h1>Users page.</h1>

        <hr>
        <h3>All users:</h3>
        <div>
            <div th:each="user : ${users}">
                <div th:text="${user.id}">name</div>
                <div th:text="${user.name}">name</div>
                <div th:text="${user.login}">login</div>
                <div>
                    <div>Roles: </div>
                    <div th:each="role : ${user.roles}" th:text="${role.name}">role name</div>
                </div>
                <input type="button" value="edit" th:onclick="'editUserClick(' + ${user.id} + ');'" />
            <br>
            </div>
        </div>

        <hr>

    </body>

</html>
