<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user page.</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/editUserPage.css}" rel="stylesheet" />
</head>

<body class="centering-box">
<div class="centered-box">

    <h1>Edit user:</h1>

    <div class="window edituser-win">
        <div class="win-caption">
            <div>Edit user:</div>
            <div th:if="${errorMessage}" th:text="${errorMessage}">...</div>
            <div th:each="error: ${#fields.errors('user')}" th:text="'user: ' + ${error}">...</div>
            <div th:each="error: ${#fields.errors('user.login')}" th:text="'login: ' + ${error}">...</div>
            <div th:each="error: ${#fields.errors('user.name')}" th:text="'name: ' + ${error}">...</div>
            <div th:each="error: ${#fields.errors('user.password')}" th:text="'password: ' + ${error}">...</div>
        </div>
        <div class="win-body">

            <form action="/editUser" th:object="${user}" method="POST" enctype="utf8">

                <input type="hidden" id="id" th:field="*{id}" />

                <div class="form-table">
                    <div class="form-labelsBox edituser-labelsBox">
                        <div>Login:</div>
                        <div>Name:</div>
                        <div>New password:</div>
                        <div>Roles:</div>
                    </div>
                    <div class="form-inputsBox">
                        <input type="text" id="login" th:field="*{login}" />
                        <input type="text" id="name" th:field="*{name}" />
                        <input type="password" id="password" th:field="*{password}" />
                        <div>
                            <div class="edituser-checkBoxField" th:each="role : ${allRoles}" >
                                <input  class="edituser-checkBox"
                                        type="checkbox"
                                        th:id="'role' + ${role.name}"
                                        th:field="*{roles}"
                                        th:value="${role.name}"
                                        th:checked="${user.hasRole(role)}" />
                                <label th:for="'role' + ${role.name}" th:text="${role.name}"> ... </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-guiBox">
                    <div class="flex-filler"></div>
                    <input  class="edituser-SubmitBtn"
                            type="submit"
                            value="Save" />
                </div>

            </form>

        </div>
    </div>

</div>
</body>
</html>
