<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >

    <head>
        <meta charset="UTF-8">
        <title>Users page.</title>
    </head>

    <body>

        <h1>Users page.</h1>

        <hr>
        <h3>All users:</h3>
        <div>
            <div th:each="user : ${users}">
                <div th:text="${user.name}">name</div>
                <div th:text="${user.login}">login</div>
                <div>
                    <div>Roles: </div>
                    <div th:each="role : ${user.roles}" th:text="${role.name}">role name</div>
                </div>
            <br>
            </div>
        </div>

        <div th:insert="~{manager/userEditForm :: editform( user=${users[1]} )}"></div>
        <hr>

    </body>

</html>
