<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >

    <head>
        <meta charset="UTF-8">
        <title>Users page.</title>
    </head>

    <body>

        <h1>Users page.</h1>
        
        <hr>
        <h3>All users:</h3>
        <ul>
            <li th:each="user : ${users}" th:text="${user.name}">user name</li>
        </ul>

        <hr>
        <h3>All roles:</h3>
        <ul>
            <li th:each="role : ${roles}" th:text="${role.name}">role name</li>
        </ul>
        <hr>

    </body>

</html>
