<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration page.</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/registrationPage.css}" rel="stylesheet" />
</head>
<body>

    <h1>Registration page.</h1>

    <div class="window registration-win">
        <div class="win-caption">
            <div>Registration form</div>
            <div th:each="error: ${#fields.errors('user')}" th:text="'user: ' + ${error}">...</div>
            <div th:each="error: ${#fields.errors('user.login')}" th:text="'login: ' + ${error}">...</div>
            <div th:each="error: ${#fields.errors('user.name')}" th:text="'name: ' + ${error}">...</div>
            <div th:each="error: ${#fields.errors('user.password')}" th:text="'password: ' + ${error}">...</div>
        </div>

        <div class="win-body">

            <form action="/registration" th:object="${user}" method="POST" enctype="utf8">

                <div class="form-table">
                    <div class="form-labelsBox">
                        <div>Login:</div>
                        <div>Name:</div>
                        <div>Password:</div>
                    </div>

                    <div class="form-inputsBox">
                        <input type="text" id="login" th:field="*{login}" />
                        <input type="text" id="name" th:field="*{name}" />
                        <input type="password" id="password" th:field="*{password}" />
                    </div>
                </div>

                <div class="form-guiBox">
                    <div class="flex-filler"></div>
                    <input  class="registration-SubmitBtn"
                            type="submit"
                            value="Register" />
                </div>

            </form>

        </div>
    </div>

</body>
</html>
