<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Registration page.</title>
</head>
<body>

    <h1>Registration page.</h1>

    <p th:each="error: ${#fields.errors('user')}" th:text="${error}">user error</p>
    <div th:if="${errorMessage}">
        <p th:text="${error.message}">user error</p>
    </div>


    <h1>registration form</h1>
    <form action="/registration" th:object="${user}" method="POST"
        enctype="utf8">

        <div>
            <label for="login"> login </label> : <input type="text"
                id="login" th:field="*{login}" />
            <p th:each="error: ${#fields.errors('login')}"
                th:text="${error}">Validation error</p>
        </div>

        <div>
            <label for="name"> name </label> <input type="text"
                id="name" th:field="*{name}" />
            <p th:each="error : ${#fields.errors('name')}"
                th:text="${error}">Validation error</p>
        </div>

        <div>
            <label for="password">password</label> <input
                type="password" id="password" th:field="*{password}" />
            <p th:each="error : ${#fields.errors('password')}"
                th:text="${error}">Validation error</p>
        </div>

        <button type="submit">submit</button>
    </form>

</body>
</html>
