.allUsers-win{
    width: 700px;
}

.allUsers-row{
    border: solid 1px black;
}

.allUsers-column-id{
    width: 40px;
    text-align: center;
}

.allUsers-column-name{
    width: 302px;
    padding-left: 4px;
}

.allUsers-column-login{
    width: 140px;
    padding-left: 4px;
}

.allUsers-column-roles{
    width: 130px;
    padding-left: 4px;
}

.allUsers-column-btn{
    width: 50px;
    text-align: center;
    padding: 2px;
}

