.centering-box {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.centered-box {
    width: auto;
    height: auto;
    margin-top: 14vh;
}

.window {
    border: solid 2px black;
    border-radius: 6px;
}

.win-caption {
    border-bottom: solid 1px black;
    background-color: whitesmoke;
    border-radius: 6px 6px 0 0;
    padding: 6px;
}

.win-body {
    margin: 12px;
}

.form-table {
    display: flex;
    flex-direction: row;
}

.form-labelsBox {
    margin-right: 8px;
}

.form-inputsBox {
    width: 80%;
}

.form-labelsBox *, .form-inputsBox * {
    margin-top: 10px;
}

.form-guiBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 4px;
    margin-top: 10px;
}

.form-inputsBox input {
    width: 94%;
    margin-top: 8px;
}

.flex-filler {
    flex-grow: 1;
}

.table-row {
    display: flex;
    flex-direction: row;
}

.table-head {
    display: flex;
    flex-direction: row;
}

.table-head-cell {
    text-align: center;
    background-color: darkgray;
    font-weight: bold;
    color: white;
}

table, td, th {
    border: solid 1px black;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    text-align: center;
    background-color: darkgray;
    font-weight: bold;
    color: white;
}

.header {
    display: flex;
}

.header div {
    margin-left: 20px;
}