.dayNotes-win{
    width: 1400px;
}

.cell-n{
    width: 20px;
}

.cell-note{
    width: 600px;
    resize: vertical;
}

.cell-comment{
    width: 600px;
    resize: vertical;
}

.cell-houres{
    width: 60px;
}
