.centered-box{
    margin: 0;
}

.dayNotes-win {
    width: 1400px;
}

.cell-n {
    width: 30px;
    text-align: center;
}

.cell-note {
    width: 643px;
    resize: vertical;
    border: 0;
}

.cell-comment {
    width: 642px;
    resize: vertical;
    border: 0;
}

.cell-houres {
    width: 60px;
    border: 0;
}

.form-gui{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-gui input {
    width: 200px;
}