<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Day notes.</title>
<link th:href="@{/css/dayNotes.css}" rel="stylesheet" />
</head>

<body>

    <h1>Трудозатраты за день.</h1>
    
    <script>
        function onDateChange(e){
            window.open("/day/filter?date="+e.target.value, "_self");
        }
    </script>
    <input type="date" th:value="${filterDay}" onchange="onDateChange(event);"/>

    <div th:text="${user.name}"></div>
    <div th:each="msg: ${messages}" th:text="${msg}">...</div>

    <div id="data-box">
        <div class="table-header">
            <div class="table-header-row">
                <div class="table-header-cell cell-header-n">#</div>
                <div class="table-header-cell cell-header-note">Тикет</div>
                <div class="table-header-cell cell-header-comment">Коментарий</div>
                <div class="table-header-cell cell-header-houres">Часы</div>
            </div>
        </div>

        <div class="table-body" th:each="note, state : ${notes}">
            <div class="table-row">
                <div class="table-cell cell-n" th:text="${state.count}">n</div>
                <div class="table-cell cell-note" th:text="${note.note}">note</div>
                <div class="table-cell cell-comment" th:text="${note.comment}">comment</div>
                <div class="table-cell cell-houres" th:text="${note.houres}">houres</div>
            </div>
        </div>

        <div id="summ-data-box">
            <div>Всего часов: -</div>
        </div>
    </div>

    <div id="edit-box">
    
    </div>

</body>

</html>
