<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Day notes.</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/dayNotes.css}" rel="stylesheet" />
</head>

<body class="centering-box">
<div class="centered-box">

    <h1>Трудозатраты за день.</h1>

    <div class="window dayNotes-win">
        <div class="win-caption">
            <div th:text="${user.name}"></div>
            <div th:each="msg: ${messages}" th:text="${msg}">...</div>
        </div>

        <div class="win-body">
            <form action="#" th:action="@{/saveDayNotes}" th:object="${notesDto}" method="POST">
                <script>
                function onFilterChange(e){
                    console.log("click");
                    window.open('/day/filter?date='+e.target.value, '_self');
                }
                </script>
                <input type="date" th:field="*{dayFilter}" onchange="onFilterChange(event);"/>

                <table>
                    <thead>
                        <tr>
                            <th> #</th>
                            <th> Тикет:</th>
                            <th> Коментарий:</th>
                            <th> Часы:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="note, stat : *{list}">

                            <td>
                                <input type="hidden" th:field="*{list[__${stat.index}__].id}" />
                                <div class="cell-n" th:text="${stat.count}"></div>
                            </td>

                            <td>
                                <textarea class="cell-note" rows="3" th:field="*{list[__${stat.index}__].note}"></textarea>
                            </td>

                            <td>
                                <textarea class="cell-comment" rows="3" th:field="*{list[__${stat.index}__].comment}"></textarea>
                            </td>

                            <td>
                                <input type="number" class="cell-houres" th:field="*{list[__${stat.index}__].houres}" />
                            </td>

                        </tr>

                    </tbody>
                </table>

                <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
                <input type="submit" id="submitButton" th:value="Save">
            </form>
        </div>
    </div>
</div>
</body>

</html>
