<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Index page.</title>
        <link th:href="@{/css/common.css}" rel="stylesheet" />
    </head>
    <body class="centering-box">
    <div class="centered-box">

    <h1>Index page.</h1>

    <ul>
        <li> <a href="/login">Вход</a> </li>
        <li> <a href="/registration">Регистрация</a> </li>
        <li> <a href="/manager">Админка</a> </li>
        <li> </li>
        <li> <a href="/notes">Все записи</a> </li>
        <li> <a href="/addNote">Новая запись</a> </li>
        <li> </li>
        <li> <a href="/day/now">Трудозатраты сегодня</a> </li>
    </ul>

    </div>
    </body>
</html>
