<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>Index page.</title>
    </head>
    <body>

    <h1>Index page.</h1>

    <ul>
        <li> <a href="/login">Вход</a> </li>
        <li> <a href="/registration">Регистрация</a> </li>
        <li> <a href="/manager">Админка</a> </li>
        <li> </li>
        <li> <a href="/notes">Все записи</a> </li>
        <li> <a href="/addNote">Новая запись</a> </li>
        <li> </li>
        <li> <a href="/day/now">Трудозатраты сегодня</a> </li>
    </ul>

    </body>
</html>
